[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pandas = "*"
numpy = "*"
flask = "*"
sklearn = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
