<!DOCTYPE HTML>
<html>

<head>
    <title>Spotify Song</title>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section class="intro">
            <header>
                <h1>Spotify Song Suggester</h1>
                <p>Help users find and visualize songs that fit their personal taste.</p>
            </header>
            {% block content %}
            <div>
                <h3>
                    Select a song from the list:
                </h3>
                <form action="/suggestsong" method="post">
                    <select name="songname">
                        {% for s in songs %}
                        <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="suggest_songs_number" placeholder="number of songs suggested">
                    <input type="submit" value="Get suggestions">
                </form>
            </div>

            <div>
                <h3>
                    Recent favorite songs:
                </h3>
                {% for sr in recent_songs_info %}
                <p>{{ sr }}</p>
                {% endfor %}
            </div>
            {% endblock %}
        </section>
    </div>
</body>

</html>