{% extends "base.html" %}

{% block content %}

<body>

</body>
<div id="suggestedsongs">
    <h2>For my favorite song </h2>
    <p>{{selected_song_info}}</p>
    <form action="/suggestsongsinfo">
        <input type="submit" value="Get album and artists of all suggested songs", size=300>
        <h3>Top 10 suggested songs distance from selected song image</h3>
        <img src="{{ url_for('static', filename='distance.png') }}" height="600" width="600"/>
    </form>
    <h2>Top {{num}} similar songs names</h2>
    {% for name in suggested_songs_names %}
    <p>{{ name }}</p>
    {% endfor %}
</div>
{% endblock %}